.Page_projectCardContainerStyle {
  display: flex;
  margin-bottom: 32px;
}

.Page_projectCardTextSectionStyle {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
}

.Page_projectCardTitleStyle {
  font-size: 24px;
}

.Page_projectCardDescriptionStyle {
  font-size: 18px;
  margin-top: 16px;
  color: gray;
}

.Page_projectCardTechListStyle {
  margin-top: 16px;
}

.Page_projectCardTechListItemStyle {
  font-size: 18px;
  margin-bottom: 6px;
}

.Page_projectCardTechLinkStyle {
  color: blue;
}
